doctype html
html
   head
      title="HOME"
   body
    fieldset
        form(action='/film', method='POST')
            input(type='text', name='title', placeholder='Introduce una pelicula')  
            input(type='submit', value='Buscar')